<div class="row gap-0 ">
  <div class="d-flex vh-100 col-3 flex-column">
    <div class="col d-flex flex-column justify-content-between align-items-center" style="background-color: #206D69; max-height: 25%;">

     <h1 class="pt-3">Profile</h1>
     <div class="row h-100 justify-content-between">
        <p><%= @user.email %></p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1" style="background-color: #152937;">
      <h2 class=" ">Creation</h2>

      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create a personnage
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="background-color: #213b44;">
              <div class="modal-header" style="background-color: #213b44;">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Personnage creation!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for (@personnage), html: {class: "p-auto m-auto d-flex flex-column h-100 w-100 justify-content-between"} do |f| %>
                  <div class="d-flex flex-column m-auto mt-5 justify-content-between h-75 w-75 p-3"">
                    <%= f.input :name, input_html: {style: "background-color: white;" }%>
                    <%= f.input :category, input_html: {style: "background-color: white;" }, collection: %i[bad good] %>
                    <%= f.input :role, input_html: {style: "background-color: white;" }, collection: %i[sherif thief marshall cowboy criminal doctor] %>
                    <%= f.input :price, input_html: {style: "background-color: white;" } %>
                    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                    <%= f.submit input_html: {style: "background-color: red;"}%>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <div class="col-9">
    <div class="row pt-4 display-flex justify-content-around" style="background-color: #152937;">
      <div class="waviy pb-4">
        <span style="--i:1">M</span>
        <span style="--i:2">y</span>
        <span>   </span>
        <span style="--i:3">c</span>
        <span style="--i:4">h</span>
        <span style="--i:5">a</span>
        <span style="--i:6">r</span>
        <span style="--i:7">a</span>
        <span style="--i:8">c</span>
        <span style="--i:8">t</span>
        <span style="--i:8">e</span>
        <span style="--i:8">r</span>
        <span style="--i:8">s</span>
      </div>


      <% @my_own_personnages.each do |personnage| %>
            <%= render "pages/card", personnage: personnage %>
      <%end%>

    </div>

    <div class="text-center display-flex justify-content-around">

    <div class="row  text-center display-flex justify-content-around">
      <div class="waviy pt-4 pb-4">
        <span style="--i:1">M</span>
        <span style="--i:2">y</span>
        <span>   </span>
        <span style="--i:3">b</span>
        <span style="--i:4">o</span>
        <span style="--i:5">o</span>
        <span style="--i:6">k</span>
        <span style="--i:7">i</span>
        <span style="--i:8">n</span>
        <span style="--i:8">g</span>
        <span style="--i:8">s</span>
      </div>

      <% @my_bookings.each do |booking| %>
       <%= render "pages/reservationCard", personnage: booking.personnage, booking: booking %>
       <% end %>
    </div>
  </div>
</div>
