 <div class="col-md-4 col-lg-2">
    <div class="card mb-5 pb-0 flex justify-content-between">
      <%= image_tag "image_8.svg" %>
      <div class="card-body">
        <h5 class="card-title"><%= personnage.name %></h5>
        <p class="card-text"><%= personnage.role%> <%= personnage.category %></p>
        <h6 class="card-subtitle mb-2"><%= personnage.price %>$</h6>
      </div>
    </div>
  </div>
