 <div class="col-md-4 col-lg-2">
    <%= link_to personnage_path(personnage) do %>
      <div class="card mb-5 pb-0 flex justify-content-between">
          <% if personnage.photo.present? %>
            <%= cl_image_tag personnage.photo.key %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= personnage.name %></h5>
            <p class="card-text"><%= personnage.role.capitalize%></p>
            <p class="card-text">Booking date:</p>
            <p class="card-text"><strong><%= booking.date %></strong></p>
            <%= link_to "Delete", reservation_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete?"}, class: 'btn' %>
          </div>
      </div>
    <% end %>
  </div>
