<div class="navbar"></div>

<div class="banner text-center">
  <div class="container">
    <div class="row pt-5">
      <h2 class="pt-5 pb-3">Welcome to Westworld</h2>
      <h1>Rent a character for a day</h1>
      <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </div>
      <%= form_with url: personnages_path, method: :get do |form| %>
        <%= form.label :query, "Search for:" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
      <% end %>
  </div>
</div>




  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h3>Choice of the moment</h3>
        <div class="row">
          <div class="col-sm-12">
            <%= link_to personnage_path(@choice_of_the_moment) do %>
              <div class="card mt-4">
                <%= image_tag "image_12.svg" %>
                <div class="card-body">
                  <h5 class="card-title"><%= @choice_of_the_moment.name %></h5>
                  <p class="card-text"><%= @choice_of_the_moment.role %> | <%= @choice_of_the_moment.category %></p>
                  <h6 class="card-subtitle mb-2"><%= @choice_of_the_moment.price %>€</h6>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </div>




    <div class="col-sm-12 col-md-8">
      <h3>Lorem ipsum</h3>
      <div class="row">
        <% @all_the_rest.each do |personnage| %>
            <div class="col-md-6 col-lg-4">
              <%= link_to personnage_path(personnage) do %>
                <div class="card mt-4">
                  <%= image_tag "image_4.svg" %>
                  <div class="card-body">
                    <h5 class="card-title"><%= personnage.name %></h5>
                    <p class="card-text"><%= personnage.role %> | <%= personnage.category %></p>
                    <h6 class="card-subtitle mb-2"><%= personnage.price %>€</h6>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>


  </div>
</div>
