<div class="navbar">Navbar à intégrer</div>

<div class="banner text-center">
  <div class="container">
    <div class="row pt-5">
      <h2 class="pt-5 pb-3">Welcome to Westworld</h2>
      <h1>Rent a character for a day</h1>
    </div>
  </div>
</div>



<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h3>Top of the week</h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="card mt-4">
            <%= image_tag "image_12.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8">
      <h3>Lorem ipsum</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= image_tag "image_4.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= image_tag "image_5.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>

         <div class="col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= image_tag "image_7.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>

         <div class="col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= image_tag "image_8.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= image_tag "image_9.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= image_tag "image_10.svg" %>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Role | Category</p>
              <h6 class="card-subtitle mb-2">300$</h6>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
