<ul>
<% @personnages.each do |personnage| %>
    <li>
      <span>Name: </span><%= personnage.name %>
      <span>Role: </span><%= personnage.role %>
      <span>Category: </span><%= personnage.category %>
      <span>Price: </span><%= personnage.price %>
      <span>photo</span> <%= image_tag(personnage.photo, alt: personnage.name) %>
    </li>
  <% end %>
</ul>

<%# <% @personnages.each do |personnage| %>
  <%# <div>
    <%= image_tag(personnage.image, alt: personnage.name) %>
    <%# <p>Name: <%= personnage.name %></p> %>
    <%# <p>Category: <%= personnage.category %></p> %>
    <%# <p>Role: <%= personnage.role %></p> %>
    <%# <p>Price: <%= personnage.price %></p> %>
    <%# <p>User: <%= personnage.user.email %></p> %>
  <%# </div> %> %>
<%# <% end %> %> %>
