<h1><%= @personnage.name %></h1>

<%= simple_form_for [@personnage, @reservation] do |f| %>
  <%= f.input :date %>
  <%= f.submit %>
<% end %>

<%= link_to "Delete personnage", personnage_path(@personnage), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
